

body {
    background-color: #ffffff;
}

h1 {
	background-color:#4aaaa5;
	color:#ffffff;
	height:50px;
	width:250px;
	padding-top: 10px;
	padding-left: 20px;
	 }

.header {
	background-color:#eee;
	height: 90px;
	position:fixed;
	top:0;
	left:0;
	width:100%;

}
.headername {

	background-color:#4aaaa5;
}

.tabLinks {
	position:relative;
	right: 100px;
	top: -50px;
}

.pageLink{
	float:right;
}


.bio {
	width: 500px;
	height:320px;
	background:#eee;
	position:fixed;
	top:150px;
	margin-left: 80px;
	padding:10px;
	
}
.profile-pic {
	width:90px;
	height:140px;
	float:left;
	margin: 10px;
}
.connectWithMe {

	background: #eee;
	width: 220px;
	height:125px;
	color:#4aaaa5;
	text-align: center;
	margin-right:50px;
	margin-top:150px;
	padding-top:20px;
	float:right;
	font-family: 'Georgia', Times, Times New Roman, serif;
}
.connectImage {

	height: 50px;
	width: 50px;
}

.copyright {
	color: #ffffff;
	background: gray;
	width: 100%;
	text-align: center;
	position:fixed;
	bottom:0px;
	height:50px;
	font-size: 10px;

}
.footerText {
	
	position:fixed;
	margin-left: 45%;
	bottom: 0;
}

.contactForm {
	width: 500px;
	height:400px;
	background:#eee;
 	position:absolute;
	top:150px;
	margin-left: 80px;
	padding:10px;
}

